body
{
    text-align: center;
    background: linear-gradient(#00aeff,#00ffd5,#00ff8c);
}
img
{
    border: 2px solid blue;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px blue ;
}
h1
{
    font-family: 'Cookie', cursive;
    color: Black;
    font-size:80px;
}
b
{
    font-size: 30px;
    color:blue;
    font-family: 'Lobster Two', cursive;
}
h5{
    font-size: 25px;
    color:#123b21;
}
h4
{
    font-size: 30px;
    color: #008d7f;
    font-family: 'Pacifico', cursive;
}